@import "./ContentVariable";

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-light;
  padding: 0px 16px;
  -webkit-app-region: drag; /* Important for dragging window in Electron */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 40px;
  border-bottom: 1px solid #e4e7ec;

  .window-controls {
    display: flex;
    align-items: center;

    .titlebar-button {
      width: 12px;
      height: 12px;
      border: none;
      margin-right: 8px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      -webkit-app-region: no-drag;
      padding: 3px;

      .titlebar-img {
        width: 100%; /* Scales the SVG to fit the button */
        height: auto;
        transition: opacity 0.2s ease-in-out;
        opacity: 0; /* SVG is transparent by default */
      }

      &:hover .titlebar-img {
        opacity: 1; /* SVG becomes fully visible on hover */
      }

      &.close {
        background-color: #ff5f56;
        border-radius: 50%;
      }

      &.minimize {
        background-color: #ffbd2e;
        border-radius: 50%;
      }

      &.maximize {
        background-color: #27c93f;
        border-radius: 50%;
      }
    }
  }
  .window-actions{
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    gap: 8px;
    margin-left: 16px;
    -webkit-app-region: no-drag;

    .titlebar-img{
      width: 18px;
      height: 18px;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-app-region: drag;

    .preprocessing-search {
      width: 590px;
      height: 30px;
      -webkit-app-region: no-drag;
      padding: 3px 14px;
      border-radius: 8px;
      border: 1px solid var(--Colors-Border-border-primary, #d0d5dd);
      box-shadow: 0px 1px 2px 0px var(--ColorsEffectsShadowsshadow-xs);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      .search-img {
        height: 15px;
        width: 15px;
      }
      .pre-search-input {
        border: none;
        width: 100%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #667085;
          font-weight: 400;
        }
      }
    }
  }
  .sidebar-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    -webkit-app-region: no-drag;

    .SidebarLeft,
    .SidebarRight,
    .SidebarBottom {
      width: 24px;
      height: 24px;
      background-color: transparent;
     

      &:hover {
        background-color: #ffffff16;
      }
      .titlebar-img{
        width: 18px;
        height: 18px;
      }
    }
  }
}
